.App {
  text-align: center;
}

.search-bar {
  padding: 1rem;
}

.search-bar-label {
  display: block;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-weight: bold;
}

.search-results-subtitle {
  font-weight: bold;
}

.related-topics-btn {
  margin: 0.5rem;
}